In [36]:
import espnff
import requests
import pandas as pd
import numpy as np
import seaborn as sns

In [54]:
import espnff
from espnff import *

In [38]:
%matplotlib inline
from matplotlib import pyplot as plt

In [21]:
scores = {}

In [22]:
for week in range(1, 10):
    r = requests.get('http://games.espn.com/ffl/api/v2/scoreboard', 
                     params={'leagueId': 363568, 'seasonId': 2018, 'matchupPeriodId': week})
    scores[week] = r.json()

In [23]:
df = []
for key in scores:
    temp = scores[key]['scoreboard']['matchups']
    for match in temp:
        df.append([key, 
                   match['teams'][0]['team']['teamAbbrev'],
                   match['teams'][1]['team']['teamAbbrev'],
                   match['teams'][0]['score'],
                   match['teams'][1]['score']])

In [24]:
df = pd.DataFrame(df, columns=['Week', 'HomeAbbrev', 'AwayAbbrev', 'HomeScore', 'AwayScore'])
df.head(5)

   Week HomeAbbrev AwayAbbrev  HomeScore  AwayScore
0     1       Bela       CSUN        100        130
1     1       Dare       HILL        168        122
2     1       LASH       Ryco        138        102
3     1       ASIF       JaMc        121        124
4     1        VON       KING        126        162

In [25]:
df = (df[['Week', 'HomeAbbrev', 'HomeScore']]
      .rename(columns={'HomeAbbrev': 'Abbrev', 'HomeScore': 'Score'})
      .append(df[['Week', 'AwayAbbrev', 'AwayScore']]
             .rename(columns={'AwayAbbrev': 'Abbrev', 'AwayScore': 'Score'}))
     )

In [26]:
df.head(10)

   Week Abbrev  Score
0     1   Bela    100
1     1   Dare    168
2     1   LASH    138
3     1   ASIF    121
4     1    VON    126
5     1   MATT    118
6     2   CSUN     80
7     2   JaMc    141
8     2   KING    145
9     2   Dare    102